<div class="container">
  <h1>Charge a card</h1>
  <div class="hidden" id="response"></div>
  <input type="text" id="amount" placeholder="Amount" autofocus/>
  <input type="text" id="card_holder" placeholder="Name"/>
  <input type="text" id="card_number" placeholder="Card Number" />
  <input type="text" class="short" id="csc" placeholder="CSC" />
  <input type="text" class="short" id="exp_month" placeholder="MM" />
  <input type="text" class="short" id="exp_year" placeholder="YYYY" />
  <button>DO IT</button>
</div>