 <div class="w3-container">
  <h1>Charge a card</h1>
    <form id="card_form" class="w3-container w3-card">
      <input type="text" id="amount" placeholder="00.00" class="w3-input" autofocus/>
      <input type="text" id="card_holder"  placeholder="Name" class="w3-input" />
      <input type="text" id="card_number" placeholder="Card Number" class="w3-input" />
      <input type="text" id="csc" placeholder="CSC" class="w3-input" />
      <input type="text" id="exp_month" placeholder="MM" class="w3-input" />
      <input type="text" id="exp_year" placeholder="YYYY" class="w3-input" />
      <input type="submit" class="w3-button w3-teal w3-margin">
    </form>
    <div id="response" class="w3-card w3-teal"></div>
</div>
